body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-image: linear-gradient(120deg, #67BDE4, #000C6E);
    background-repeat: no-repeat;
    
    min-height: 100vh;

}

.titulo, .subtitulo, ul, caption, h1, h2{

    justify-content: center;
    text-align: center;

    color: white;
    text-shadow: 1px 1px 1px black;

}

a {

    text-decoration: none;
    margin: 5px;
    color: blue;

}

a:hover{

    color: black;
    text-decoration: underline;

}

table {

    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px   ;


}

th, td {

    background-color: white;
    border: 1px solid rgba(192, 192, 192, 0.651);
    padding: 8px;

}

th {

    background-color: #333;
    color: white;

}

form {

    background-color:  white;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;

}

label {

    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;

}

input, textarea, select {

    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;

}

ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    
}

#menus{

    display: flex;
    flex-wrap: wrap;

}

li{

margin: 10px;

}

form{

    margin: 0 auto 30px auto;
    
}

button, .option{

    background-color: #333;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    width: 250px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

}

button:hover, button:focus {

    background-color: #f8f8f8;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.option:hover, .option:focus {

    background-color: #f8f8f8;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}